*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
    --hue:var(var(--hue-correct));
}
body.wrong {
    --hue:var(var(--hue-wrong));
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    color: white;
    outline: none;
    padding: 5px 10px;
}
.btn:hover {
    border-color: black;
}
.btn.correct {
    --hue:var(--hue-correct);
    color: black;
}
.btn.wrong {
    --hue:var(--hue-wrong);
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-btn, .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    gap: 20px;
}
.hide {
    display: none;
}